@{
    ViewBag.Title = "Home Page";
}
<div class="page-wrapper">

   

    <div class="summary">
        <hgroup class="title">
            <h2>Welcome</h2>
        </hgroup>
        <p>
            Hope you enjoy this site. It contains a lot of material that will make you think about life.
        </p>
    </div>

    <h3>We suggest the following:</h3>

    <ol class="round">
        <li class="one">
            <h5>Listen to the CD  </h5>
            <p>
                This is a CD that was created by me and a few of my friends.<a class="btn btn-info" href="/CD/CD/1">Go to CD</a>
            </p>
        </li>

        <li class="two">
            <h5>Listen to the sayings</h5>
            <p>
                Listen to or read the sayings.These poems are meant to be pondered over.
There is a message contained in each one.
There is a riddle to be solved.
I hope they may contain meanings for your life.
            </p>
        </li>

        <li class="three">
            <h5>Keys to Life</h5>
            <p>
                Listen to or read the Keys to Life. Take your time and enjoy. <a class="btn btn-info" href="/Books/Laws">Go to Keys to Life</a>
            </p>
            <aside>
                <h5>Recent Talks</h5>

                <ul>

                    <li>

                        <h5>3-02-2017</h5>
                        <div>
                            <audio controls>

                                <source src="\Audio\Talks\Talks2017\3-02-2017.wav" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </li>
                    <li>

                        <h5>3-01-2017</h5>
                        <div>
                            <audio controls>

                                <source src="\Audio\Talks\Talks2017\3-01-2017.wav" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </li>
                </ul>
            </aside>
        </li>

        <li class="four">
            <h5>Listen to the talks</h5>
            <p>
                Listen to the talks. They may help you to understand more. <a class="btn btn-info" href="/Talks/Talks2017">Go to Talks 2017</a>
            </p>
        </li>

        <li class="five">
            <h5>Listen to this audio</h5>
            <div>
                <audio controls>

                    <source src="\Audio\Talks\Talks2017\2-24-2017.wav" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </li>
    </ol>
</div>