@{
    ViewBag.Title = "Links";
}

<div class="page-wrapper">
    <h2>Links</h2>

    <div>
        Here's some links that you may like.
         <p>
             This is a site I created 6 years ago.It gets nutritional Info from the USDA database.
         </p>
        <p>
            Here are some of the benefits. It's free.
Our goal is to provide you with quick and easy tools to assist you in all areas of cooking. Each recipe has a nutritional label that you can use for a healthy and tasty recipe. Using your smart phone you can have a shopping list for each recipe on hand while shopping at the store. While you are making the recipe your smartphone will help you prepare your meal by easy to use directions. Most of the recipes take less than 30 minutes. It's a great and easy way to share and discover new recipes.
             <a target="_blank" class="btn btn-info" href="http://whatscookingtreasures.com/">Go to Whats cooking treasures</a>
        </p>
        <p>
            I wish to offer my humble gratitude to Don Rocklin and David Gelfand. Don did all the music.
David helped produce this CD. This CD is still in a primitive state. We are looking for someone
who would like to help with this project. I believe that poetry and music together can enhance the
poetic experience. It add an extra layer of emotion. Unfortunately in America poetry has taken a
back seat in our culture. Let's bring back the power of the spoken word.
             <a target="_blank" class="btn btn-info" href="http://www.donnrochlin.com/donn-rochlin/">Go to Don Rocklin site</a>
        </p>
        <p>
            I'm not a Buddhist but I love the sayings of the Dalai Lama. Here's his Twitter feeds.
             <a target="_blank" class="btn btn-info" href="https://twitter.com/DalaiLama?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Go to Dalai Lama Twitter Feed</a>
        </p>
         <p>
           On of my favorite poets in the world is Guru Nanak the founder of Sikhism. He was born on April 15,1469. His poems are still alive today.
             <a target="_blank" class="btn btn-info" href="https://www.goodreads.com/author/quotes/333495.Guru_Nanak">Go to Guru Nanak's quotes.</a>
        </p>

        <p>
           35 acts of kindness in 5 minutes or less
             <a target="_blank" class="btn btn-info" href="https://www.soundvision.com/article/35-acts-of-kindness-in-5-minutes-or-less">35 acts of kindness</a>
        </p>

         <p>
           Here's the Taoist view on Kindness.
             <a target="_blank" class="btn btn-info" href="http://personaltao.com/teachings/taoism/morality-and-kindness/">Kindness and Morality</a>
        </p>

        <p>
           Jesus and Kindness.
             <a target="_blank" class="btn btn-info" href="https://www.openbible.info/topics/kindness">Kindness</a>
        </p>

        <p>
           The Life Force of Jainism: When Kindness Takes on Revolutionary Dimensions
             <a target="_blank" class="btn btn-info" href="http://www.huffingtonpost.com/jaina/the-life-force-of-jainism_b_3460630.html">The Life Force of Jainism</a>
        </p>

          <p>
           Jewish on Kindness.
             <a target="_blank" class="btn btn-info" href="http://www.aish.com/jl/i/i/48944871.html">Kindness</a>
        </p>

         <p>
           Yama: basic human values in Hinduism.
             <a target="_blank" class="btn btn-info" href="http://www.religioustolerance.org/rath01b.htm">Basic human values</a>
        </p>

         <p>
           Confucius on Kindness (and Forgiveness)
             <a target="_blank" class="btn btn-info" href="http://confucius-sage.blogspot.com/2008/02/confucius-on-kindness.html">Kindness and Forgiveness</a>
        </p>

    </div>
</div>