<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

    <div class="container">
        <a href="#demo" data-toggle="collapse"><span class=”icon”>Talks by year</span></a>

        <div id="demo" class="collapse">
            <ul>
                <li>
                    <a href="/Talks/Talks2017">Talks 2017</a>
                </li>
                <li>
                    <a href="/Talks/Talks2018">Talks 2018</a>
                </li>

                <li>
                    <a href="/Talks/Talks2019">Talks 2019</a>
                </li>

                <li>
                    <a href="/Talks/Talks2020">Talks 2020</a>
                </li>

                <li>
                    <a href="/Talks/Talks2021">Talks 2021</a>
                </li>

                <li>
                    <a href="/Talks/Talks2022">Talks 2022</a>
                </li>


            </ul>
        </div>
    </div>

</body>
</html>