<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
    
</head>
<body>

    <div class="container">
        <a href="#demo" data-toggle="collapse"><span class=”icon”>2017 and before</span></a>

        <div id="demo" class="collapse">
            <ul>
                <li>
                    <a href="/houseofthefuture/houseofthefuture">House Of The Future</a>
                </li>

                <li>
                    @try
                    {
                        string str = System.Configuration.ConfigurationManager.AppSettings["env"];
                        str = str + "/Mp4";
                        var calc = str + "/TheGreatCalculator.mp4";


                        <a target="_blank" href="@calc">The Great Calculator Video</a>


                        <p></p>
                    }
                    catch
                    {
                    }



                </li>


                <li>

                    <a href="/CD/CD">It’s A Beautiful Day In The Neighborhood</a>
                </li>

                <li>
                    <a href="/CD/CD2">Is This From A Mystic Or A Scientist?</a>
                </li>

                <li>
                    <a href="/CD/CD3">Who Were You Before You Were Born?</a>
                </li>

                <li>
                    <a href="/CD/CD4">Does Life Throw You A Curve Ball?</a>
                </li>

                <li>
                    <a href="/CD/CD5">Stop The Prejudice</a>
                </li>

                <li>
                    <a href="/CD/CD6">The Caterpillar</a>
                </li>

                <li>
                    <a href="/CD/CD7">Mothers</a>
                </li>

                <li>
                    <a href="/CD/CD8">The Lion Within</a>
                </li>

                <li>
                    <a href="/CD/CD9">The Cell Phone</a>
                </li>

                <li>
                    <a href="/CD/CD10">The Chameleon</a>
                </li>

                <li>
                    <a href="/CD/CD11">The Ferris Wheel Of Life</a>
                </li>

                <li>
                    <a href="/CD/CD12">The Lottery</a>
                </li>

                <li>
                    <a href="/CD/CD13">War Games</a>
                </li>

                <li>
                    <a href="/CD/CD14">Travels</a>
                </li>

                <li>
                    <a href="/CD/CD15">The Candle</a>
                </li>

                <li>
                    <a href="/CD/CD16">Wisdom</a>
                </li>
                <li>
                    <a href="/CD/CD17">Aloha</a>
                </li>

                <li>
                    <a href="/CD/CD18">Apple Of my Eye</a>
                </li>

                <li>
                    <a href="/CD/CD19">Castles In The Sand </a>
                </li>


                <li>
                    <a href="/CD/CD20">Galileo’s Telescope </a>
                </li>

                <li>
                    <a href="/CD/CD21">Charlottesville </a>
                </li>

                <li>
                    <a href="/CD/CD22">I Got The Blues </a>
                </li>

                <li>
                    <a href="/CD/CD23">In The Middle Of The Night </a>
                </li>

                <li>
                    <a href="/CD/CD24">Just Come Back Home</a>
                </li>

                <li>
                    <a href="/CD/CD25">Making Friends With Dragons</a>
                </li>

                <li>
                    <a href="/CD/CD26">Never Let Go Your Soul</a>
                </li>

                <li>
                    <a href="/CD/CD27">One Tribe</a>
                </li>


                <li>
                    <a href="/CD/CD28">Steve Hudson RIP</a>
                </li>

                <li>
                    <a href="/CD/CD29">Taken Away By Your Smile</a>
                </li>



            </ul>
        </div>
    </div>


    <div class="container">
        <a href="#demo2018" data-toggle="collapse"><span class=”icon”>2018 </span></a>

        <div id="demo2018" class="collapse">
            <ul>


                <li>
                    <a href="/CD2018/CD30">The Island Of Bali</a>
                </li>

                <li>
                    <a href="/CD2018/CD31">The Breath</a>
                </li>

                <li>
                    <a href="/CD2018/CD32">Walking On Egg Shells</a>
                </li>

                <li>
                    <a href="/CD2018/CD33">Welcome Back Home</a>
                </li>

                <li>
                    <a href="/CD2018/CD34">You Are Made Of The Same Stuff As the Universe</a>
                </li>

                <li>
                    <a href="/CD2018/CD35">At The Speed Of Light</a>
                </li>

                <li>
                    <a href="/CD2018/CD36">Beat A Rug</a>
                </li>

                <li>
                    <a href="/CD2018/CD37">Chop Down The Trees</a>
                </li>

                <li>
                    <a href="/CD2018/CD38">Embrace Your Fears</a>
                </li>

                <li>
                    <a href="/CD2018/CD39">Stephen Hawking</a>
                </li>

                <li>
                    <a href="/CD2018/CD40">Heaven Moves With Me</a>
                </li>

                <li>
                    <a href="/CD2018/CD41">Homeward Bound</a>
                </li>

                <li>
                    <a href="/CD2018/CD42">If I Showed You A Map</a>
                </li>

                <li>
                    <a href="/CD2018/CD43">In Ancient India</a>
                </li>

                <li>
                    <a href="/CD2018/CD44">Know it all</a>
                </li>

                <li>
                    <a href="/CD2018/CD45">Life Is A Garland</a>
                </li>

                <li>
                    <a href="/CD2018/CD46">Mahatma Rajeshwar</a>
                </li>

                <li>
                    <a href="/CD2018/CD47">Merry Christmas</a>
                </li>

                <li>
                    <a href="/CD2018/CD48">Old Man</a>
                </li>



            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2019" data-toggle="collapse"><span class=”icon”>2019 </span></a>

        <div id="demo2019" class="collapse">
            <ul>



                <li>
                    <a href="/CD2019/CD49">Pay Attention To Your Actions</a>
                </li>
                <li>
                    <a href="/CD2019/CD50">Politics Hold Your Emotions</a>
                </li>

                <li>
                    <a href="/CD2019/CD51">Riddles</a>
                </li>

                <li>
                    <a href="/CD2019/CD52">Solve This Puzzle Of Life</a>
                </li>

                <li>
                    <a href="/CD2019/CD53">The Day The World Changed</a>
                </li>

                <li>
                    <a href="/CD2019/CD54">The Greatest Gift Of All</a>
                </li>

                <li>
                    <a href="/CD2019/CD55">The Judgment Day</a>
                </li>

                <li>
                    <a href="/CD2019/CD56">The Palace In The Sky</a>
                </li>

                <li>
                    <a href="/CD2019/CD57">The Struggle</a>
                </li>

                <li>
                    <a href="/CD2019/CD58">The Wine Of Life</a>
                </li>

                <li>
                    <a href="/CD2019/CD59">To Be Spiritual Is To Be Practical</a>
                </li>

                <li>
                    <a href="/CD2019/CD60">Walking Between Worlds</a>
                </li>

                <li>
                    <a href="/CD2019/CD61">We Are The Transformers</a>
                </li>

                <li>
                    <a href="/CD2019/CD62">What Good Is It To Be Spiritual</a>
                </li>

                <li>
                    <a href="/CD2019/CD63">What A Magnificent Drop You Are</a>
                </li>

                <li>
                    <a href="/CD2019/CD64">Why Meditate</a>
                </li>

                <li>
                    <a href="/CD2019/CD65">Your Higher Self</a>
                </li>

                <li>
                    <a href="/CD2019/CD66">You Are Never Alone</a>
                </li>

                <li>
                    <a href="/CD2019/CD67"> Your body Is Your Drug Store</a>
                </li>

                <li>
                    <a href="/CD2019/CD68">The Heart Of God</a>
                </li>

                <li>
                    <a href="/CD2019/CD69">Tolerance </a>
                </li>

                <li>
                    <a href="/CD2019/CD70">Bullseye</a>
                </li>

                <li>
                    <a href="/CD2019/CD71">Life is a game</a>
                </li>















            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2020" data-toggle="collapse"><span class=”icon”>2020 </span></a>

        <div id="demo2020" class="collapse">
            <ul>

                <li>
                    <a href="/CD2020/CD72">Where Did Yesterday Go</a>
                </li>

                <li>
                    <a href="/CD2020/CD73">Caught Inside</a>
                </li>

                <li>
                    <a href="/CD2020/CD74">Shadow Boxing</a>
                </li>

                <li>
                    <a href="/CD2020/CD75">You are the missing piece of the puzzle</a>
                </li>

                <li>
                    <a href="/CD2020/CD76">Peeling The Onion</a>
                </li>

                <li>
                    <a href="/CD2020/CD77">The Wild West</a>
                </li>

                <li>
                    <a href="/CD2020/CD78">Life is A Miracle</a>
                </li>

                <li>
                    <a href="/CD2020/CD79">Can We Change</a>
                </li>

                <li>
                    <a href="/CD2020/CD80">Trust</a>
                </li>

                <li>
                    <a href="/CD2020/CD81">The Balance Of Darkness And Light</a>
                </li>










            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2021" data-toggle="collapse"><span class=”icon”>2021 </span></a>

        <div id="demo2021" class="collapse">
            <ul>

                <li>
                    <a href="/CD2020/CD82">Fly Like A Dragon</a>
                </li>



                <li>
                    <a href="/CD2021/CD83">Incredible Journey</a>
                </li>

                <li>
                    <a href="/CD2021/CD84">Cosmic Surfer</a>
                </li>

                <li>
                    <a href="/CD2021/CD85">Harmony</a>
                </li>

                <li>
                    <a href="/CD2021/CD86">Polar Vortex</a>
                </li>

                <li>
                    <a href="/CD2021/CD87">Flight Of The Albatross</a>
                </li>

                <li>
                    <a href="/CD2021/CD88">Pondering is a lost skill</a>
                </li>

                <li>
                    <a href="/CD2021/CD89">Good Question</a>
                </li>

                <li>
                    <a href="/CD2021/CD90">It's your decision</a>
                </li>

                <li>
                    <a href="/CD2021/CD91">Be Kind</a>
                </li>

                <li>
                    <a href="/CD2021/CD92">Is The Universe Biased</a>
                </li>

                <li>
                    <a href="/CD2021/CD93">Burr Cold Water</a>
                </li>

                <li>
                    <a href="/CD2021/CD94">Focus On The Good Not The Bad</a>
                </li>

                <li>
                    <a href="/CD2021/CD95">The Hidden Christmas Tree</a>
                </li>

                <li>
                    <a href="/CD2021/CD96">Pliancy</a>
                </li>

                <li>
                    <a href="/CD2021/CD97">Dissimulation</a>
                </li>

                <li>
                    <a href="/CD2021/CD98">Non-alertness</a>
                </li>

                <li>
                    <a href="/CD2021/CD99">Bliss</a>
                </li>

                <li>
                    <a href="/CD2021/CD100">Spiritual Life Is The Most Practical Life</a>
                </li>

                <li>
                    <a href="/CD2021/CD101">Grace</a>
                </li>

                <li>
                    <a href="/CD2021/CD102">Time</a>
                </li>

                <li>
                    <a href="/CD2021/CD103">Maya</a>
                </li>

                <li>
                    <a href="/CD2021/CD104">Down The Rabbit Hole</a>
                </li>

               
            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2022" data-toggle="collapse"><span class=”icon”>2022 </span></a>

        <div id="demo2022" class="collapse">
            <ul>

                <li>
                    <a href="/CD2022/CD105">Stoking The Fire</a>
                </li>

                <li>
                    <a href="/CD2022/CD106">Bring The Genie Back Into The Bottle</a>
                </li>


            </ul>
        </div>
    </div>




</body>
</html>