@{
    ViewBag.Title = "Talks2017";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="page-wrapper">

    @try
    {

        foreach (MvcRichard.Models.DocumentModel order
           in (List<MvcRichard.Models.DocumentModel>)ViewData["orderData"])
        {

        <div>
            <div>
                @order.ShortName
            </div>
            <div>
                <audio controls>

                    <source src="@order.PathName" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
        }
    }
    catch
    {
    }
</div>