@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>*@
                <h1>About</h1>
            </hgroup>

            <article>
                <p>
                    Let's simplify this. Join me on the journey of life, both external and internal. You are a vital piece of life's puzzle. Uncover the piece within the puzzle that is you.
                </p>

                <ol class="round">
                    <li class="one">
                        <h5>Listen or read Poems  </h5>
                        <p>
                            <a class="btn btn-info" href="/CD/CDMenu/">Go to Poems</a>
                        </p>
                        <aside>
                        </aside>
                    </li>

                    <li class="two">
                        <h5>Listen to or read the books</h5>
                        <p>
                            Take your time and enjoy. <a class="btn btn-info" href="/Books/BooksMenu">Go to Books Menu</a>
                        </p>
                    </li>

                    <li class="three">
                        <h5>Listen To The Talks</h5>
                        <p>
                            Listen to the talks. They may help you to understand more. <a class="btn btn-info" href="/Talks/TalksMenu">Go to Talks </a>
                        </p>
                    </li>

                    <li class="four">
                        <h5>Listen To This Audio</h5>
                        <div>
                            <audio controls>

                                <source src="\Audio\Talks\Talks2017\2-24-2017.mp3" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </li>

                    <li class="five">
                        <h5>Family and Friends Stories & Receipes</h5>
                        <p>
                            My hobby is ethnic food cooking. Come and join me on this journey <a target="_blank" class="btn btn-info" href="https://evolutionrevolutionoflove.com/PDF/Books/FamilyCooking/FamilyCooking.pdf">Family and Friends Stories and Receipes.  </a>
                        </p>
                    </li>

                </ol>
            </article>
        </div>
    </div>
</div>