@{
    ViewBag.Title = "Evolution Revolution of love";
}

<!DOCTYPE html>

<title>Evolution Revolution of love
</title>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="page-wrapper">

                <div class="summary">
                    <hgroup class="title">
                        <h2>Welcome</h2>
                    </hgroup>
                    <p>
                        Hope you enjoy this site. It contains a lot of material that will make you think about life.
                    </p>
                </div>

                <h3>We Suggest The Following:</h3>

@try
{
    string str = System.Configuration.ConfigurationManager.AppSettings["env"];
    str = str + "/Mp4";
    var calc = str + "/TheGreatCalculator.mp4";

    <div>
        <a target="_blank" class="btn btn-info" href="@calc">The Great Calculator Video Full Screen</a>
    </div>


    <p></p>
}
catch
{
}

         

                <ol class="round">

                    <li class="one">
                        <h5>Listen To The CD  </h5>
                        <p>
                            This is a CD that was created by me and a few of my friends.<a class="btn btn-info" href="/CD/CD/1">Go to CD</a>
                        </p>
                        <aside>
                            @*<h5>Recent Talks</h5>

                            <ul>

                                <li>

                                    <h5>5-12-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\5-12-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>5-11-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\5-11-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>5-2-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\5-2-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>4-8-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\4-8-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-30-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-30-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-29-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-29-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-28-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-28-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-27-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-27-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-22-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-22-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-21-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-21-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-14-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-14-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-12-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-12-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-11-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-11-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-06-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-06-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>

                                <li>

                                    <h5>3-02-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-02-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>
                                <li>

                                    <h5>3-01-2017</h5>
                                    <div>
                                        <audio controls>

                                            <source src="\Audio\Talks\Talks2017\3-01-2017.mp3" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </li>
                            </ul>*@
                        </aside>
                    </li>

  


                    <li class="three">
                        <h5>Listen To The Keys To Life</h5>
                        <p>
                            Listen to or read the Keys to Life. Take your time and enjoy. <a class="btn btn-info" href="/Books/Laws">Go to Keys to Life</a>
                        </p>
                    </li>

                    <li class="four">
                        <h5>Listen To The Talks</h5>
                        <p>
                            Listen to the talks. They may help you to understand more. <a class="btn btn-info" href="/Talks/TalksMenu">Go to Talks </a>
                        </p>
                    </li>

                    <li class="five">
                        <h5>Listen To This Audio</h5>
                        <div>
                            <audio controls>

                                <source src="\Audio\Talks\Talks2017\2-24-2017.mp3" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </li>

                    <li class="six">
                        <h5>Family and Friends Receipes</h5>
                        <p>
                            My hobby is ethnic food cooking. Here's a free cookbook that has hundreds of great tasting and nutritious receipes. <a  target="_blank" class="btn btn-info" href="https://drive.google.com/file/d/1FFWuc2Cx2yLELRHXEZ4h93p_uHfbq-uQ/view?fbclid=IwAR2s4rvKy8bLsHtCyCkg9E1j1C54xQwi5mDE4utxyNcuVleB_Aocfm6ZMb4">Go to Receipes </a>
                        </p>
                    </li>

                    

                    @* <li class="six">
                        <h5>Listen to random saying</h5>
                        @try
                        {

                            foreach (MvcRichard.Models.DocumentModel order
                               in (List<MvcRichard.Models.DocumentModel>)ViewData["orderData"])
                            {

                            <div>
                                <div>
                                    @order.ShortName
                                </div>
                                <div>
                                    <audio controls>

                                        <source src="@order.PathName" type="audio/wav">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                            </div>
                            }
                        }
                        catch
                        {
                        }
                    </li>*@
                </ol>
            </div>
        </div>
    </div>
</div>