@{
    ViewBag.Title = "Evolution Revolution of love";
}

<title>Evolution Revolution of love
</title>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <div class="summary">
                <hgroup class="title">
                    <h2>Welcome</h2>
                </hgroup>
                <p>
                    Hope you enjoy this site. It contains a lot of material that will make you think about life.
                </p>
            </div>

            <h3>We Suggest The Following:</h3>

            <div>
                <a target="_blank" class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Mp4/TheGreatCalculator.mp4">The Great Calculator Video Full Screen</a>
            </div>

            

            <ol class="round">
                <li class="one">
                    <h5>Listen To or read the poems  </h5>
                    <p>
                        <a class="btn btn-info" href="/CD/CDMenu/">Go to Poems</a>
                    </p>
                    <aside>
                    </aside>
                </li>

                <li class="two">
                    <h5>Listen To or read the books</h5>
                    <p>
                        Take your time and enjoy. <a class="btn btn-info" href="/Books/BooksMenu">Go to Books Menu</a>
                    </p>
                </li>

                <li class="three">
                    <h5>Listen To The Talks</h5>
                    <p>
                        Listen to the talks. They may help you to understand more. <a class="btn btn-info" href="/Talks/TalksMenu">Go to Talks </a>
                    </p>
                </li>

                <li class="four">
                    <h5>Listen To This Audio</h5>
                    <div>
                        <audio controls>

                            <source src="\Audio\Talks\Talks2017\2-24-2017.mp3" type="audio/wav">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </li>

                <li class="five">
                    <h5>Family and Friends Stories & Receipes</h5>
                    <p>
                        My hobby is ethnic food cooking. Come and join me on this journey <a target="_blank" class="btn btn-info" href="https://evolutionrevolutionoflove.com/PDF/Books/FamilyCooking/FamilyCooking.pdf">Family and Friends Stories and Receipes.  </a>
                    </p>
                </li>

            </ol>

            @*<h5>Recent Talks</h5>

            <ul>

                <li>

                    <h5>5-12-2017</h5>
                    <div>
                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/5-12-2017.mp3">Listen to 5-12-2017</a>
                    </div>
                </li>

                <li>

                    <h5>5-11-2017</h5>
                    <div>
                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/5-11-2017.mp3">Listen to 5-11-2017</a>
                    </div>
                </li>

                <li>

                    <h5>5-2-2017</h5>
                    <div>
                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/5-2-2017.mp3">Listen to 5-2-2017</a>
                    </div>
                </li>

                <li>

                    <h5>4-8-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/4-8-2017.mp3">Listen to 4-8-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-30-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-30-2017.mp3">Listen to 3-30-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-29-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-29-2017.mp3">Listen to 3-29-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-28-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-28-2017.mp3">Listen to 3-28-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-27-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-27-2017.mp3">Listen to 3-27-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-23-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-23-2017.mp3">Listen to 3-23-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-22-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-22-2017.mp3">Listen to 3-22-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-21-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-21-2017.mp3">Listen to 3-21-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-14-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-14-2017.mp3">Listen to 3-14-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-12-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-12-2017.mp3">Listen to 3-12-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-11-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-11-2017.mp3">Listen to 3-11-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-06-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-06-2017.mp3">Listen to 3-06-2017</a>
                    </div>
                </li>

                <li>

                    <h5>3-02-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-02-2017.mp3">Listen to 3-02-2017</a>
                    </div>
                </li>
                <li>

                    <h5>3-01-2017</h5>
                    <div>

                        <a class="btn btn-info" href="http://www.evolutionrevolutionoflove.com/Audio/Talks/Talks2017/3-01-2017.mp3">Listen to 3-01-2017</a>
                    </div>
                </li>
            </ul>*@
        </div>
    </div>
</div>