@{
    ViewBag.Title = "Evolution Revolution of love";
}

<!DOCTYPE html>

<title>Evolution Revolution of love
</title>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="page-wrapper">

                <div class="summary">
                    <hgroup class="title">
                        <h2>Welcome</h2>
                    </hgroup>
                    <p>
                        Hope you enjoy this site. It contains a lot of material that will make you think about life.
                    </p>
                </div>

                <h3>We Suggest The Following:</h3>

@try
{
    string str = System.Configuration.ConfigurationManager.AppSettings["env"];
    str = str + "/Mp4";
    var calc = str + "/TheGreatCalculator.mp4";

    <div>
        <a target="_blank" class="btn btn-info" href="@calc">The Great Calculator Video Full Screen</a>
    </div>


    <p></p>
}
catch
{
}

         

                <ol class="round">

                    <li class="one">
                        <h5>Listen or read Poems  </h5>
                        <p>
                            <a class="btn btn-info" href="/CD/CDMenu/">Go to Poems</a>
                        </p>
                        <aside>
                        </aside>
                    </li>

                    <li class="two">
                        <h5>Listen to or read the books</h5>
                        <p>
                            Take your time and enjoy. <a class="btn btn-info" href="/Books/BooksMenu">Go to Books Menu</a>
                        </p>
                    </li>

                    <li class="three">
                        <h5>Listen To The Talks</h5>
                        <p>
                            Listen to the talks. They may help you to understand more. <a class="btn btn-info" href="/Talks/TalksMenu">Go to Talks </a>
                        </p>
                    </li>

                    <li class="four">
                        <h5>Listen To This Audio</h5>
                        <div>
                            <audio controls>

                                <source src="\Audio\Talks\Talks2017\2-24-2017.mp3" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </li>

                    <li class="five">
                        <h5>Family and Friends Stories & Receipes</h5>
                        <p>
                            My hobby is ethnic food cooking. Come and join me on this journey <a  target="_blank" class="btn btn-info" href="https://evolutionrevolutionoflove.com/PDF/Books/FamilyCooking/FamilyCooking.pdf">Family and Friends Stories and Receipes.  </a>
                        </p>
                    </li>

                    
                </ol>
            </div>
        </div>
    </div>
</div>