@{
    ViewBag.Title = "Links";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <div class="page-wrapper">
                <h2>Links</h2>

                <div>
                    Here's some links that you may like.


                    <table>
                        <tr>
                            <td>
                                <h3>Guy's Art Facebook</h3>
                                <div>
                                    <p>


                                        <a href="https://www.facebook.com/guynouriart/posts/101102408647347/" target="_blank">
                                            <img alt="Qries" src="/Images/GuysArt.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>

                            </td>
                            <td>
                                <h3>Jataka Tales</h3>
                                <div>
                                    <p>


                                        <a href="http://jataka.fun/" target="_blank">
                                            <img alt="Qries" src="/Images/jatakaweb.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>
                            </td>
                            <td>


                                <h3>Whats Cooking Treasures</h3>
                                <div>
                                    <p>


                                        <a href="https://whatscookingtreasures.com//" target="_blank">
                                            <img alt="Qries" src="/Images/worldmap3.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h3>Evolution Revolution </h3>
                                <div>
                                    <p>


                                        <a href="https://www.evolutionrevolutionoflove.com/" target="_blank">
                                            <img alt="Qries" src="/Images/evolution.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>
                            </td>

                            <td>
                                <h3>John Franklin Fletcher</h3>
                                <div>
                                    <p>


                                        <a href="https://johnfranklinfletcher.com/home" target="_blank">
                                            <img alt="Qries" src="/Images/john.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>

                            </td>

                            <td>

                                <h3>Heart Of Love</h3>
                                <div>
                                    <p>


                                        <a href="http://heartoflove.today/" target="_blank">
                                            <img alt="Qries" src="/Images/HeartOfLove.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>


                            </td>


                        </tr>

                        <tr>
                            <td>
                                <h3>Time To Cook</h3>
                                <div>
                                    <p>


                                        <a href="http://timetocook.today//" target="_blank">
                                            <img alt="Qries" src="https://whatscookingtreasures.com/images/upload/402.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>

                            </td>

                        </tr>

                    </table>


                    <h3>YouTube</h3>
                    <table>
                        <tr>
                            <td>
                                <h3>Fletcher Soul Traveler</h3>
                                <div>
                                    <p>


                                        <a href="https://www.youtube.com/channel/UCTycocR4wUXS35LCfJBU3uw" target="_blank">
                                            <img alt="Qries" src="/Images/YouTubeFletcher.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>

                            </td>
                            <td>
                                <h3>Jataka Tales</h3>
                                <div>
                                    <p>


                                        <a href="https://www.youtube.com/channel/UCWFwTb1VDqoewFjwbW8a_Ew" target="_blank">
                                            <img alt="Qries" src="/Images/jatakaweb.jpg"
                                                 width="250" height="200">
                                        </a>

                                    </p>
                                </div>
                            </td>
                    </table>





                   
                    <p>
                        I wish to offer my humble gratitude to Donn Rochlin and David Gelfand. Don did all the music.David helped produce this CD. This CD is still in a primitive state. We are looking for someone

                        who would like to help with this project. I believe that poetry and music together can enhance the

                        poetic experience. It adds an extra layer of emotion. Unfortunately, in America poetry has taken a

                        back seat in our culture. Let's bring back the power of the spoken word.
                        <a target="_blank" class="btn btn-info" href="http://www.donnrochlin.com/donn-rochlin/">Go to Donn Rochlin site</a>
                    </p>
                    <p>
                        Healing the world through song is a web site my brother created.He engages the listener to ask deep questions of life and existence.

                        <a target="_blank" class="btn btn-info" href="https://johnfranklinfletcher.com/">Go to John Franklin music site</a>
                    </p>

                    <p>
                        Jason was instrumental in converting 60 years old film from the House of the Future to an mp4 format. He also produced and created the Great Calculator video. Jason is currently a Science Visualizer at the
                        Charles Hayden Planetarium.

                        <a target="_blank" class="btn btn-info" href="http://www.jasonfletcher.info/">Go to Jason Fletcher site</a>
                    </p>




                    <p>
                        I'm not a Buddhist but I love the sayings of the Dalai Lama. Here's his Twitter feeds.
                        <a target="_blank" class="btn btn-info" href="https://twitter.com/DalaiLama?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Go to Dalai Lama Twitter Feed</a>
                    </p>
                    <p>
                        On of my favorite poets in the world is Guru Nanak the founder of Sikhism. He was born on April 15,1469. His poems are still alive today.
                        <a target="_blank" class="btn btn-info" href="https://www.goodreads.com/author/quotes/333495.Guru_Nanak">Go to Guru Nanak's quotes.</a>
                    </p>

                    <p>
                        35 acts of kindness in 5 minutes or less
                        <a target="_blank" class="btn btn-info" href="https://www.soundvision.com/article/35-acts-of-kindness-in-5-minutes-or-less">35 acts of kindness</a>
                    </p>

                    <p>
                        Here's the Taoist view on Kindness.
                        <a target="_blank" class="btn btn-info" href="http://personaltao.com/teachings/taoism/morality-and-kindness/">Kindness and Morality</a>
                    </p>

                    <p>
                        Jesus and Kindness.
                        <a target="_blank" class="btn btn-info" href="https://www.openbible.info/topics/kindness">Kindness</a>
                    </p>

                    <p>
                        The Life Force of Jainism: When Kindness Takes on Revolutionary Dimensions
                        <a target="_blank" class="btn btn-info" href="http://www.huffingtonpost.com/jaina/the-life-force-of-jainism_b_3460630.html">The Life Force of Jainism</a>
                    </p>

                    <p>
                        Jewish on Kindness.
                        <a target="_blank" class="btn btn-info" href="http://www.aish.com/jl/i/i/48944871.html">Kindness</a>
                    </p>

                    <p>
                        Yama: basic human values in Hinduism.
                        <a target="_blank" class="btn btn-info" href="http://www.religioustolerance.org/rath01b.htm">Basic human values</a>
                    </p>

                    <p>
                        Confucius on Kindness (and Forgiveness)
                        <a target="_blank" class="btn btn-info" href="http://confucius-sage.blogspot.com/2008/02/confucius-on-kindness.html">Kindness and Forgiveness</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>