<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

    <div class="container">
        <a href="#demo" data-toggle="collapse"><span class=”icon”>Books Menu 2018</span></a>

        <div id="demo" class="collapse">
            <ul>
                <li>
                    <a href="/Books/Laws">Laws Of The Universe</a>
                </li>
                <li>
                    <a href="/Books/Universe">You Are The Universe</a>
                </li>

                <li>
                    <a href="/Books/Actions">Your Actions Change The Universe</a>
                </li>
                <li>
                    <a href="/Books/Auto">It’s A Beautiful Day In The Neighborhood</a>
                </li>

                <li>
                    <a href="/Books/Kindness">Kindness</a>
                </li>

                <li>
                    <a href="/Books/Journey">The Journey</a>
                </li>

                <li>
                    <a href="/Books/FromMeToWe">From Me To We</a>
                </li>

                <li>
                    <a href="/Books/Gaia">Gaia</a>
                </li>

                <li>
                    <a href="/Books/Garden">The Inner Garden</a>
                </li>

                <li>
                    <a href="/Books/Meditation">Meditation</a>
                </li>











            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2019" data-toggle="collapse"><span class=”icon”>Books Menu 2019 </span></a>

        <div id="demo2019" class="collapse">
            <ul>


                <li>
                    <a href="/Books/Surfing">Surfing Tales</a>
                </li>


                <li>
                    <a href="/Books/Happiness">Happiness</a>
                </li>

                <li>
                    <a href="/Books/Politics">Conscious Politics</a>
                </li>

                <li>
                    <a href="/Books/Death">Life & Death</a>
                </li>

                <li>
                    <a href="/Books/Human">The New Human</a>
                </li>

                <li>
                    <a href="/Books/Hardwired">You Are Hardwired To Discover God</a>
                </li>

                <li>
                    <a href="/Books/Quantum">How To Use The Quantum Field</a>
                </li>

                <li>
                    <a href="/Books/Dreams">How To Manifest Your Dreams</a>
                </li>

                <li>
                    <a href="/Books/Cloudy">Cloudy Thinking</a>
                </li>

                <li>
                    <a href="/Books/OverTheHill">Over the Hill ... Not</a>
                </li>

            </ul>
        </div>

    </div>
    <div class="container">
        <a href="#demo2020" data-toggle="collapse"><span class=”icon”>Books Menu 2020 </span></a>

        <div id="demo2020" class="collapse">
            <ul>



                <li>
                    <a href="/Books/Kabbalah">Diary of a Cabbalistic</a>
                </li>

                <li>
                    <a href="/Books/SuperBowl">Super Bowl</a>
                </li>

                <li>
                    <a href="/Books/Corona">Corona</a>
                </li>

                <li>
                    <a href="/Books/TheWay">The Way</a>
                </li>

                <li>
                    <a href="/Books/HeartOfGold?chapter=Indian Mystics">Heart Of Gold</a>
                </li>



                <li>
                    <a href="/Books/Creative">The Creative Project</a>
                </li>

                <li>
                    <a href="/Books/Yoga">Patanjali Yoga Sutras</a>
                </li>

                <li>
                    <a href="/Books/NonViolence">Non Violence</a>
                </li>

                <li>
                    <a href="/Books/KnowthySelf">Know Thy Self</a>
                </li>

                <li>
                    <a href="/Books/WhoAmI">Who Am I</a>
                </li>

                <li>
                    <a href="/Books/Tricks">Tricks Of The Trade</a>
                </li>

                <li>
                    <a href="/Books/Shamanism">Shamanism</a>
                </li>

                <li>
                    <a href="/Books/Storytelling">Storytelling</a>
                </li>

                <li>
                    <a href="/Books/ThePhysicsOfSpirituality">The Physics of Spirituality</a>
                </li>

                <li>
                    <a href="/Books/KingdomOfHeavenLiesInside">The Kingdom Of Heaven Lies Inside</a>
                </li>

                <li>
                    <a href="/Books/Pandora">Pandora's Box</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2021" data-toggle="collapse"><span class=”icon”>Books Menu 2021 </span></a>

        <div id="demo2021" class="collapse">
            <ul>
                <li>
                    <a href="/Books/JaiJinendra">Jai Jinendra </a>
                </li>

                <li>
                    <a href="/Books/Harmony">Harmony </a>
                </li>

                <li>
                    <a href="/Books/BrokenRecord">Broken Record </a>
                </li>

                <li>
                    <a href="/Books/MysticalAdventures">Mystical Adventures </a>
                </li>

                <li>
                    <a href="/Books/Economics">Conscious Economics </a>
                </li>

                <li>
                    <a href="/Books/DreamTime">Aborginal Dream Time </a>
                </li>

                <li>
                    <a href="/Books/Rumi">Rumi</a>
                </li>

                <li>
                    <a href="/Books/Recalibration">Recalibration</a>
                </li>

                <li>
                    <a href="/Books/Chemist">You are your own master chemist</a>
                </li>

                <li>
                    <a href="/Books/Sound">Sound Of Silence</a>
                </li>

                <li>
                    <a href="/Books/Knowledge">Knowledge</a>
                </li>

                <li>
                    <a href="/Books/Naropa">Naropa</a>
                </li>

                <li>
                    <a href="/Books/NaropaCommentary">Naropa Commentary</a>
                </li>

                <li>
                    <a href="/Books/Definition">What me worry</a>

                </li>

                <li>
                    <a href="/Books/Transformation">Dog training for the mind</a>
                </li>

                <li>
                    <a href="/Books/DragonsNaropa">Teachings Of The Dragons Naropa</a>
                </li>




            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2022" data-toggle="collapse"><span class=”icon”>Books Menu 2022 </span></a>

        <div id="demo2022" class="collapse">
            <ul>
                <li>
                    <a href="/Books/ThePhysicsOfSpirituality">The Physics of Spirituality</a>
                </li>

                <li>
                    <a href="/Books/Alchemy">Alchemy</a>
                </li>
                <li>
                    <a href="/Books/DragonsNaropa2">Teachings Of The Dragons Naropa Part 2</a>
                </li>

                <li>
                    <a href="/Books/Training">This is just the start of your training</a>
                </li>

                <li>
                    <a href="/Books/EsotericTreasures">Esoteric Treasures</a>
                </li>

                <li>
                    <a href="/Books/Puzzle">Puzzle</a>
                </li>

                @*<li>
            <a href="/Books/MysticalHistorian">Mystical Historian</a>
        </li>*@

                <li>
                    <a href="/Books/War">War</a>
                </li>

                <li>
                    <a href="/Books/Innerharmony">Inner harmony</a>
                </li>

                <li>
                    <a href="/Books/What">What the F!!ck</a>
                </li>
                <li>
                    <a href="/Books/Once">Once upon a time</a>
                </li>
                <li>
                    <a href="/Books/FamilyCooking">Stories and Recipes</a>
                </li>
                <li>
                    <a href="/Books/FamilyTravels">Travels</a>
                </li>
                <li>
                    <a href="/Books/LifeOfKai">Cosmic Advice</a>
                </li>

                <li>
                    <a href="/Books/Breathe">Breathe</a>
                </li>

                <li>
                    <a href="/Books/Zoran">Zoran</a>
                </li>
                <li>
                    <a href="/Books/Paryushan2022">Paryushan2022</a>
                </li>

                <li>
                    <a href="/Books/Monroe">Monroe Institute</a>
                </li>

                <li>
                    <a href="/Books/Music">Celestial Music</a>
                </li>

                <li>
                    <a href="/Books/Occam">Occam's Razor'</a>
                </li>


            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2023"data-toggle="collapse"><span class=”icon”>Books Menu 2023</span></a>

        <div id="demo2023" class="collapse">
            <ul>
                <li>
                    <a href="/Books/Gita">Bhagavad Gita The Song of God</a>
                </li>

                <li>
                    <a href="/Books/WestCoast">Is The West Coast Dying</a>
                </li>

                <li>
                    <a href="/Books/Draconis">Draconis</a>
                </li>

                <li>
                    <a href="/Books/Temper">Temper</a>
                </li>

                <li>
                    <a href="/Books/land">Land of Nilk and Honey</a>
                </li>
                <li>
                    <a href="/Books/CentralSun">Central Sun</a>
                </li>

                <li>
                    <a href="/Books/Spinoza">Spinoza</a>
                </li>

                <li>
                    <a href="/Books/Paradoxes">Paradoxes</a>
                </li>

                <li>
                    <a href="/Books/Innovators">Innovators</a>
                </li>

                <li>
                    <a href="/Books/Sleep">Sleep</a>
                </li>

                <li>
                    <a href="/Books/Gather">Gather</a>
                </li>

                <li>
                    <a href="/Books/Hacks">Hacks 101</a>
                </li>

                <li>
                    <a href="/Books/Beyond">Beyond The Beyond</a>
                </li>

                <li>
                    <a href="/Books/Chakrasamvara">Chakrasamvara</a>
                </li>

                <li>
                    <a href="/Books/QuantumComputing">Quantum Computing</a>
                </li>

                <li>
                    <a href="/Books/Mirror">Mirror Mirror on the wall</a>
                </li>

                <li>
                    <a href="/Books/Mirror2">Mirror Mirror on the wall Book 2</a>
                </li>

                <li>
                    <a href="/Books/MadisonAvenue">Madison Avenue</a>
                </li>

                <li>
                    <a href="/Books/LightSpectrum">We can only see 1 percent of the light sprectrum</a>
                </li>

            </ul>
        </div>
    </div>


    <div class="container">
        <a href="#demoKids" data-toggle="collapse"><span class=”icon”>Kids-Dragon Tales </span></a>

        <div id="demoKids" class="collapse">
            <ul>


                <li>
                    <a href="/Books/Kids">Dragon Tales</a>
                </li>

                <li>
                    <a href="/Books/Dragons2">Dragon Tales 2</a>
                </li>

                <li>
                    <a href="/Books/TeachingsOfTheDragons">Teachings Of The Dragons</a>
                </li>

                <li>
                    <a href="/Books/DragonsNaropa">Teachings Of The Dragons Naropa</a>
                </li>

                <li>
                    <a href="/Books/JatakaTales">Jataka Tales</a>
                </li>

                <li>
                    <a href="/Books/SparkTales">Spark Tales</a>
                </li>



                <li>
                    <a href="/Books/StarDust">You Are Star Dust</a>
                </li>

                <li>
                    <a href="/Books/Swan">Swan Tales</a>
                </li>

                <li>
                    <a href="/Books/Fractal">Fractal Fairy Tales</a>
                </li>

                <li>
                    <a href="/Books/Family">Family And Friends</a>
                </li>

            </ul>
        </div>


    </div>


</body>
</html>