<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

    <div class="container">
        <a href="#demo" data-toggle="collapse"><span class=”icon”>Books Menu 2018</span></a>

        <div id="demo" class="collapse">
            <ul>
                <li>
                    <a href="/Books/Laws">Laws Of The Universe</a>
                </li>
                <li>
                    <a href="/Books/Universe">You Are The Universe</a>
                </li>

                <li>
                    <a href="/Books/Actions">Your Actions Change The Universe</a>
                </li>
                <li>
                    <a href="/Books/Auto">It’s A Beautiful Day In The Neighborhood</a>
                </li>

                <li>
                    <a href="/Books/Kindness">Kindness</a>
                </li>

                <li>
                    <a href="/Books/Journey">The Journey</a>
                </li>

                <li>
                    <a href="/Books/FromMeToWe">From Me To We</a>
                </li>

                <li>
                    <a href="/Books/Gaia">Gaia</a>
                </li>

                <li>
                    <a href="/Books/Garden">The Inner Garden</a>
                </li>

                <li>
                    <a href="/Books/Meditation">Meditation</a>
                </li>











            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2019" data-toggle="collapse"><span class=”icon”>Books Menu 2019 </span></a>

        <div id="demo2019" class="collapse">
            <ul>


                <li>
                    <a href="/Books/Surfing">Surfing Tales</a>
                </li>


                <li>
                    <a href="/Books/Happiness">Happiness</a>
                </li>

                <li>
                    <a href="/Books/Politics">Conscious Politics</a>
                </li>

                <li>
                    <a href="/Books/Death">Life & Death</a>
                </li>

                <li>
                    <a href="/Books/Human">The New Human</a>
                </li>

                <li>
                    <a href="/Books/Hardwired">You Are Hardwired To Discover God</a>
                </li>

                <li>
                    <a href="/Books/Quantum">How To Use The Quantum Field</a>
                </li>

                <li>
                    <a href="/Books/Dreams">How To Manifest Your Dreams</a>
                </li>

                <li>
                    <a href="/Books/Cloudy">Cloudy Thinking</a>
                </li>

                <li>
                    <a href="/Books/OverTheHill">Over the Hill ... Not</a>
                </li>

            </ul>
        </div>

    </div>
    <div class="container">
        <a href="#demo2020" data-toggle="collapse"><span class=”icon”>Books Menu 2020 </span></a>

        <div id="demo2020" class="collapse">
            <ul>



                <li>
                    <a href="/Books/Kabbalah">Diary of a Cabbalistic</a>
                </li>

                <li>
                    <a href="/Books/SuperBowl">Super Bowl</a>
                </li>

                <li>
                    <a href="/Books/Corona">Corona</a>
                </li>

                <li>
                    <a href="/Books/TheWay">The Way</a>
                </li>

                <li>
                    <a href="/Books/HeartOfGold?chapter=Indian Mystics">Heart Of Gold</a>
                </li>

               

                <li>
                    <a href="/Books/Creative">The Creative Project</a>
                </li>

                <li>
                    <a href="/Books/Yoga">Patanjali Yoga Sutras</a>
                </li>

                <li>
                    <a href="/Books/NonViolence">Non Violence</a>
                </li>

                <li>
                    <a href="/Books/KnowthySelf">Know Thy Self</a>
                </li>

                <li>
                    <a href="/Books/WhoAmI">Who Am I</a>
                </li>

                <li>
                    <a href="/Books/Tricks">Tricks Of The Trade</a>
                </li>

                <li>
                    <a href="/Books/Shamanism">Shamanism</a>
                </li>

                <li>
                    <a href="/Books/Storytelling">Storytelling</a>
                </li>

                <li>
                    <a href="/Books/ThePhysicsOfSpirituality">The Physics of Spirituality</a>
                </li>

                <li>
                    <a href="/Books/KingdomOfHeavenLiesInside">The Kingdom Of Heaven Lies Inside</a>
                </li>

                <li>
                    <a href="/Books/Pandora">Pandora's Box</a>
                </li>











            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2021" data-toggle="collapse"><span class=”icon”>Books Menu 2021 </span></a>

        <div id="demo2021" class="collapse">
            <ul>
                <li>
                    <a href="/Books/JaiJinendra">Jai Jinendra </a>
                </li>

                <li>
                    <a href="/Books/Harmony">Harmony </a>
                </li>

                <li>
                    <a href="/Books/BrokenRecord">Broken Record </a>
                </li>

                <li>
                    <a href="/Books/MysticalAdventures">Mystical Adventures </a>
                </li>

                <li>
                    <a href="/Books/Economics">Conscious Economics </a>
                </li>

                <li>
                    <a href="/Books/DreamTime">Aborginal Dream Time </a>
                </li>

                <li>
                    <a href="/Books/Rumi">Rumi</a>
                </li>

                <li>
                    <a href="/Books/Recalibration">Recalibration</a>
                </li>

                <li>
                    <a href="/Books/Chemist">You are your own master chemist</a>
                </li>

                <li>
                    <a href="/Books/Sound">Sound Of Silence</a>
                </li>

                <li>
                    <a href="/Books/Knowledge">Knowledge</a>
                </li>

                <li>
                    <a href="/Books/Naropa">Naropa</a>
                </li>


            </ul>
        </div>
    </div>


    <div class="container">
        <a href="#demoKids" data-toggle="collapse"><span class=”icon”>Kids-Dragon Tales </span></a>

        <div id="demoKids" class="collapse">
            <ul>


                <li>
                    <a href="/Books/Kids">Dragon Tales</a>
                </li>

                <li>
                    <a href="/Books/Dragons2">Dragon Tales 2</a>
                </li>

                <li>
                    <a href="/Books/JatakaTales">Jataka Tales</a>
                </li>

                <li>
                    <a href="/Books/SparkTales">Spark Tales</a>
                </li>



                <li>
                    <a href="/Books/StarDust">You Are Star Dust</a>
                </li>

                <li>
                    <a href="/Books/Swan">Swan Tales</a>
                </li>

                <li>
                    <a href="/Books/Fractal">Fractal Fairy Tales</a>
                </li>

                <li>
                    <a href="/Books/Family">Family And Friends</a>
                </li>

            </ul>
        </div>


    </div>


</body>
</html>