<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

    <div class="container">
        <a href="#demo" data-toggle="collapse"><span class=”icon”>1991-1999</span></a>

        <div id="demo" class="collapse">
            <ul>
                <li><a href="/Sayings/Sayings2">Sayings 2</a></li>
                <li><a href="/Sayings/Sayings3">Sayings 3</a></li>

            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo2" data-toggle="collapse"><span class=”icon”>2000-2006</span></a>

        <div id="demo2" class="collapse">
            <ul>
                <li><a href="/Sayings/Sayings4">Sayings 4</a></li>
                <li><a href="/Sayings/Sayings5">Sayings 5</a></li>

            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo3" data-toggle="collapse"><span class=”icon”>2007-2009</span></a>

        <div id="demo3" class="collapse">
            <ul>
                <li><a href="/Sayings/Sayings6">Sayings 6</a></li>

            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo4" data-toggle="collapse"><span class=”icon”>2010-2012</span></a>

        <div id="demo4" class="collapse">
            <ul>
                <li><a href="/Sayings/Sayings7">Sayings 7</a></li>
                <li><a href="/Sayings/Sayings8">Sayings 8</a></li>

            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo5" data-toggle="collapse"><span class=”icon”>2013-2015</span></a>

        <div id="demo5" class="collapse">
            <ul>
                <li><a href="/Sayings/Sayings9">Sayings 9</a></li>
                <li><a href="/Sayings/Sayings10">Sayings 10</a></li>

            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo6" data-toggle="collapse"><span class=”icon”>2013-2015</span></a>

        <div id="demo6" class="collapse">
            <ul>
                <li><a href="/Sayings/Sayings11">Sayings 11</a></li>
                <li><a href="/Sayings/Sayings12">Sayings 12</a></li>
                <li><a href="/Sayings/Sayings13">Sayings 13</a></li>
                <li><a href="/Sayings/Sayings14">Sayings 14</a></li>
                <li><a href="/Sayings/Sayings15">Sayings 15</a></li>

            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo7" data-toggle="collapse"><span class=”icon”>2018</span></a>

        <div id="demo7" class="collapse">
            <ul>
                <li><a href="/Sayings2018/Sayings16">Sayings 16</a></li>
                <li><a href="/Sayings2018/Sayings17">Sayings 17</a></li>
                <li><a href="/Sayings2018/Sayings18">Sayings 18</a></li>
                <li><a href="/Sayings2018/Sayings19">Sayings 19</a></li>

            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo8" data-toggle="collapse"><span class=”icon”>2019</span></a>

        <div id="demo8" class="collapse">
            <ul>
                <li><a href="/Sayings2019/Sayings20">Sayings 20</a></li>
                <li><a href="/Sayings2019/Sayings21">Sayings 21</a></li>
                <li><a href="/Sayings2019/Sayings22">Sayings 22</a></li>
                <li><a href="/Sayings2019/Sayings23">Sayings 23</a></li>


            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo9" data-toggle="collapse"><span class=”icon”>2020</span></a>

        <div id="demo9" class="collapse">
            <ul>
                <li><a href="/Sayings2020/Sayings24">Sayings 24</a></li>
                <li><a href="/Sayings2020/Sayings25">Sayings 25</a></li>
                <li><a href="/Sayings2020/Sayings26">Sayings 26</a></li>

        </div>
    </div>

    <div class="container">
        <a href="#demo10" data-toggle="collapse"><span class=”icon”>2021</span></a>

        <div id="demo10" class="collapse">
            <ul>

                <li><a href="/Sayings2021/Sayings27">Sayings 27</a></li>
                <li><a href="/Sayings2021/Sayings28">Sayings 28</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <a href="#demo11" data-toggle="collapse"><span class=”icon”>2022</span></a>

        <div id="demo11" class="collapse">
            <ul>

                <li><a href="/Sayings2022/Sayings29">Sayings 29</a></li>
                @*<li><a href="/Sayings2022/Sayings30">Sayings 30</a></li>*@
            </ul>
        </div>
    </div>





</body>
</html>